<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FootbalClub.Properties.Settings.footbal_clubsConnectionString"
            connectionString="Data Source=BOBEK\SQLEXPRESS;Initial Catalog=footbal_clubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FootbalClub.Properties.Settings.football_clubsConnectionString"
            connectionString="Data Source=BOBEK\SQLEXPRESS;Initial Catalog=football_clubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>